.button {
  background-color: #749bb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 5%;
  height: 6%;
}

.button:hover {
  background-color: #a1a5a8; /* Green */
  color: white;
}

.mainElement {
  margin: 0 auto;
  width: 400px;
  height: 600px;
}